---
layout: layouts/base.njk
title: Thank you
permalink: /thanks/
noindex: true
eleventyExcludeFromCollections: true
---
<section class="page-head page-center">
  <div class="wrap narrow">
    <h1>You're on the list</h1>
    <p class="lede">Thanks for joining the {{ site.name }} letter. Our next email will land in your inbox soon. In the meantime, browse by symptom to see what might help.</p>
    <a class="btn" href="/#symptoms">Browse by symptom</a>
  </div>
</section>
